# ROS build, install, and log directories
build/
install/
log/

# Experiment log results
logs/*

# Analysis results
processed_logs/*
plots/*

# python environment
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

.vscode/

*.log
